body{
  background-color: aqua;
}

#tabelas{
  display: block;
}

#tabela1{
  background-color: antiquewhite;
  display: block;
  width: 900px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

th, td{
border: 1px solid black;
}

.item{
  width: 200px;
}

.description{
  width: 500px;
}

.value{
  width: 200px;
}