*{
  margin: 0;
  padding: 0;
  
}

html,body{
  height: 100%;
}
/* Área da caixa*/

.caixa{
  padding: 20px 5px;
  background-color: chartreuse;
  text-align: center;
}

/*
.caixa{
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: chartreuse;
}
*/

/* Área das box */

.box{
  border: 1px solid black;
  width: 33.3%;
  max-width: 300px;
  height: 200px;
  margin:-4px;
  background-color: blue;
  display: inline-block;
}

/*
.box{
  width: 33.3%;
  height: 200px;
  float: left;
  background-color: blue;
  border: 1px solid black;
}

*/
/* Área media querie */

@media screen and (max-width:768px){
  
  .box{
    width: 50%;
  }
  
  /*
  .caixa{
    text-align: center;
  }
  .box{
    float: none;
    display: inline-block;
    width: 40%;
    margin-bottom: -4px;
  }
  */
}

@media screen and (max-width: 500px){
  .box{
    width: 100%;
  }
}