*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  height: 600px;
}
header{
  text-align: center;
}
div{
  display: inline-block;
  width: 900px;
  margin: auto 15%;
  background-color: cornflowerblue;
}
p{
  font-size: 30px;
  padding-left: 20px;
}

div #p1{
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
div #p2{
  font-family: 'Noto Sans KR', cursive;
}
div #p3{
  font-family: 'Square Peg', cursive;
}
div #p4{
  font-family: 'Cormorant SC', serif;
}
div #p5{
  font-family: 'Ibarra Real Nova', serif;
}
div #p6{
  font-family: 'Oswald', sans-serif;
}
div #p7{
  font-family: 'Roboto', sans-serif;
}
/*Atribuindo "!important" oas valores(no caso fonte)*/
/*
#p1, #p2, #p3, #p4, #p5, #p6, #p7{
  font-family: Aria !important;
}*/