*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

.caixa{
  width: 200px;
  height: 100px;
  background-color: blue;
  transition-property: width height;
  -webkit-transition-duration: 3s; 
  transition-duration: 3s;
  -webkit-transition-delay:1s;
  transition-delay: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.caixa:hover{
  width: 300px;
  height: 200px;
  background-color: yellow;
}