/*Atacando propriedades do formulário no geral*/

form{
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

form legend{
  background-color: aquamarine;
  text-align: center;
  font-size: 22px;
  color: crimson;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

form fieldset{
  border: 2px dashed goldenrod;
}
form h2{
  text-align: center;
  color: aliceblue;
  text-shadow: 3px 3px 2px black;
  background-color: darkslategrey;
  box-shadow: 4px 4px 1px black;
}
form input{
  margin-bottom: 10px;
}
form input:focus,textarea:focus{
  outline: 0;
  background-color: rgb(164, 194, 250);
}

/*Atacando propriedades especificas*/

form input[type=text],input[type=email]{
  width: 375px;
}
input[type=number]{
  width: 40px;
}
#lista:focus{
  outline: 0;
}
#lista{
  width: 90px;
  height: 23px;
}
table tr td{
  padding-right: 20px;
}
form input[type=submit]{
  width: 150px;
  height: 40px;
  background-color: blue;
  font-size: 25px;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
  border-radius: 1%;
  border: 0;
  display: inline-block;
  margin-left: 40%;
  box-shadow: 2px 2px 1px black;
  margin-top: 15px;
}
form input[type=submit]:hover{
  background-color: firebrick;
  cursor: pointer;
}
textarea{
  resize: none;
}

input[type=file]{
  display: none;
}

label{
  display: inline-block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: mediumpurple;
  cursor: pointer;
}