*{
  margin: 0;
  padding: 0;
}

html,body{
  height: auto;
}

/*Área box*/

.box{
  width: 10%;
  height: 10%;
  padding: 8.6% 5% 8.6% 5%;
  border-radius: 50%;/*Aplicando o border-radius*/
  background-color: blueviolet;
  margin: 3% auto;
  transform: translatey(50%);
  transition: 3s;
}

.box:hover{
  transform: translatey(50%)/*Direciona o objeto de acordo com seu eio central*/rotate(360deg)/*Rotaciona o objeto*/;
}

.box div{
  background-color: blue;
  border: 1px solid black;
  text-align: center;
  padding: 5% 5% 5% 5%;
  transition: 3s;
}

.box div:hover{
  transform: rotatex(360deg) rotateY(-360deg);
  scale: 3;
}