*{
  margin:0;
  padding:0;
}
body{
  height: 100%;
}

.teste,.teste1,.teste2{
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: rgb(150, 150,150);
  margin-top: 30px;
  margin-left: 30px;
}

.teste1{
  background-color: rgb(98,98,98);
}

.teste2{
  background-color: rgb(50,50,50);
}

/*Quando passar o mouse sobre a área*/

.teste:hover{
  background-color: blue;
  height: 600px;
}
.teste:hover ,.teste1,.teste2{
  vertical-align: top;
}

.teste1:hover ,.teste2:hover{
  background-color: blue;
}


/*Quando precionar o botão do mouse*/

.teste:active{
  background-color: black;
}

.teste3:focus{
  background-color: aquamarine;
}
/*muda a cor do link (não funciona mais)*/
.teste4:link{
  color:red;
}
/*cor do link visitado(não funciona mais)*/
.teste4:visited{
  color:#696969;
}