body{
  background-color: rgb(66, 124, 124);
}
h1{
  font-size: 12px;
}
h2{
  background-color: gray;
  text-align: center;
}
p{
  font-size: 12px;
  text-indent: 12px;
}

#subdiv1{
  background-color: antiquewhite;
  box-sizing: content-box;
  float: left;
  width: 630px;
  height: 420px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 2px black;
}
#divcont1{
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: -4px;
  width: 300px;
}

#divcont2{
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: -4px;
  width: 300px;
}

#conteudo>h2{
text-align: center;
background-color: grey;
}

#conteudo2{
  width: 550px;
  height: 300px;
  display: block;
  float: right;
  margin-left: 10px;
}

img{
  width: 550px;
  height: 300px;
}
#tabela{
  margin-top: 10px;
  background-color: darkslategrey;
  color: azure;
  border-collapse: collapse;
  box-shadow: 1px 1px 3px black;
}
th{
  text-shadow: 1px 1px 2px black;
}
.name{
  width: 100px;
}
.description{
  width: 439px;
}

td{
  border: 1px solid black;
}