*{
  margin: 0;
  padding: 0;
}



#cabecalho{
  background-color: rgb(10, 186, 240);
  text-align: center;
}

#menu{
  width: 100%;
  background-color: aqua;
  margin-left: -0px;
}

a{
  text-decoration: none;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-shadow: 1px 1px 1px black;
  margin-right: -4px;
  padding-right: 91.5px;
  padding-left: 91.3px;
  border: 1px solid black;
}

iframe{
  width: 100%;
 height: 570px;
}

#divisao1{
  border: 1px solid black;
}

#divisao2{
  border: 1px solid black;
}

footer{
  text-align: center;
}