*{
  margin: 0;
  padding: o;
}
html,body{
  height: 100%;
}

/*Expressão aritimética*/
/*
.sidebar,.content{
  height: calc((100% - 40px) / 2 );
}
*/

/*Cálculo simples*/
/*
.sidebar{
  float: left;
  width: 300px;
  background-color: blue;
}
.content{
  float: left;
  width: calc(100% - 300px);
  background-color: slategray;
}
*/

.box{
  width: 100vw;/*vh viewport width (largura da janela de visualização */
  height: 100vh; /*viewport height (altura da janela de visualização*/
  background-color: brown;
}
/*vw e vh não levam em cinsideração o espaço ocupado pela scrollbar*/